.soundBoard {
  background-color: var(--background);
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  padding: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
}

.manageButton {
  background-color: var(--accent);
  color: white;
  padding: 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.manageButton:hover {
  background-color: var(--accent-hover);
}

.manageButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--accent);
}

.emojiGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 0.25rem;
  margin: 0 auto;
  max-width: 100%;

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
  }
}

.emojiButton {
  font-size: 2.5rem;
  padding: 1rem 0;
  background-color: var(--surface);
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in-out;

  @media screen and (max-width: 600px) {
    font-size: 2rem;
    padding: 0.5rem 0;
  }
}

.emojiButton:hover {
  background-color: var(--surface-hover);
}

.emojiButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--accent);
}
