.message {
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  border-left: 4px solid;
}

.message.custom {
  background-color: var(--success-background-light);
  border-left-color: var(--success);
  color: var(--success-text-dark);
}

.message.default {
  background-color: var(--accent-background-light);
  border-left-color: var(--accent);
  color: var(--accent-text-dark);
}
