.kdIcon {
  position: absolute;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
}

.kdIcon.bouncing {
  position: fixed;
  z-index: 1000;
}
