.freezerSection {
  padding-bottom: 1rem;
  margin-bottom: 1px;
  margin-left: 1%;
  padding-left: 1rem;
  position: relative;
  min-height: 30rem;
  background-color: var(--fridge-body-bg);
  border: 6px solid var(--fridge-border);
  border-top-right-radius: var(--fridge-outer-border-radius);
  border-top-left-radius: var(--fridge-outer-border-radius);
  border-bottom-right-radius: var(--fridge-inner-border-radius);
}

.cowbellMagnet {
  display: block;
  background-color: #48a860;
  color: #333;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border: 3px solid #ff8c00;
  width: max-content;
  position: absolute;
  top: 80%;
  left: 30%;
  transform: rotate(6deg);
  transition: transform 0.2s ease-in-out;
}

.cowbellMagnet:hover {
  transform: rotate(12deg) scale(1.05);
}

.magnetTextContainer {
  max-width: 98%;
}

.mooseMagnetContainer {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: rotate(3deg);
}

.eagleMagnetContainer {
  position: absolute;
  top: 50%;
  left: 65%;
  transform: rotate(9deg);
}

.darkModeMagnetContainer {
  position: absolute;
  top: 60%;
  left: 10%;
  transform: rotate(-8deg);
}
.fridgeHandleContainer {
  position: absolute;
  top: 90%;
  right: 2%;
}
.freezerHighlightRight {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
  border-top-right-radius: var(--fridge-outer-border-radius);
  border-bottom-right-radius: var(--fridge-inner-border-radius);
}
