.magnet {
  display: block;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border: none;
  cursor: pointer;
  width: max-content;
  transition: transform 0.2s ease-in-out;
  background-color: var(--magnet-bg-light);
}

.magnet:hover {
  transform: scale(1.05);
}

.mooseMagnet {
  composes: magnet;
  background: linear-gradient(
      to right,
      transparent 40%,
      #fecb00 40%,
      #fecb00 60%,
      transparent 60%
    ),
    linear-gradient(
      to bottom,
      transparent 40%,
      #fecb00 40%,
      #fecb00 60%,
      transparent 60%
    ),
    #005293;
}

.mooseMagnet:hover {
}

.eagleMagnet {
  composes: magnet;
  background-color: #B22222;
}

.eagleMagnet:hover {
  background-color: #A02020;
  transform: scale(1.05);
}
