.magnetLetter {
  font-family: var(--font-alfa-slab-one), serif;
  display: inline-block;
  color: var(--magnet-letter-color);
  text-shadow: 1px 1px var(--shadow-dark), -1px -1px var(--shadow-light),
    -2px -2px 2px var(--shadow-darker), -2px -2px var(--shadow-light),
    -1px -2px var(--shadow-light), -1px -2px var(--shadow-light),
    -1px -2px var(--shadow-light), -1px -2px var(--shadow-light),
    -2px -2px var(--shadow-light), -2px -2px var(--shadow-darkest),
    1px 2px 2px rgba(0, 0, 5, 0.4), -2px -2px 2px rgba(0, 0, 5, 0.2);
  margin: 0 2px;
}

.space {
  display: inline-block;
  width: 0.5em;
}
