.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.fridgeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  transition: all 0.5s ease-in-out;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(1px);
  border-radius: 1rem;
  margin: 2rem;
  padding: 2rem;
}

.fridgeBody {
  position: relative;
  box-shadow: var(--fridge-shadow);
  margin-bottom: 1.25rem;
  transition: all 0.5s ease-in-out;
  @media screen and (max-width: 768px) {
    width: 90dvw;
  }
}

.fridgeShadowLeft {
  position: absolute;
  width: 15px;
  background-color: inherit;
  border-radius: 2rem;
  z-index: 0;
  border-top-left-radius: 3rem;
}

.fridgeGlow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  box-shadow: 0 0 20px 5px var(--fridge-shadow);
  opacity: 0.6;
  pointer-events: none;
  animation: glowPulse 3s infinite;

  @keyframes glowPulse {
    0%,
    100% {
      box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.8);
      opacity: 0.6;
    }
    50% {
      box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.8);
      opacity: 1;
    }
  }
}
