.stickyNote {
  height: 4rem;
  width: 4rem;
  background-color: var(--sticky-note);
  border: 2px solid var(--sticky-note-border);
  border-radius: 5px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 9px;
  font-weight: bold;
  color: #333;
  text-align: center;
  padding: 3px;
  transform: rotate(-5deg);
  transition: transform 0.2s ease-in-out;
}

.stickyNote:hover {
  transform: rotate(-5deg) scale(1.05);
}

.stickyNoteContainer {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
